
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <h4>Siparişiniz Alınmıştır, Ürünleriniz En Kısa Sürede Kargoya Verilecektir.</h4>
</div>

