@model Ticaret.Models.Cart

 
<div class="well well-small"><a id="myCart" href="/Cart/Index"><img src="/tema-shop/themes/images/ico-cart.png" 
       alt="cart">Sepetiniz Toplam: <span class="badge badge-warning pull-right">@Model.Total().ToString("c") ₺</span></a></div>